<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>The Tech Blog</title>
</head>

<body>
    <header>
        <nav class="level hnav">
            <p class="level-item has-text-centered">
                <a href="/" class="column navIcon is-size-3">Home</a>
            </p>
            <p class="level-item has-text-centered">
                <a href="dashboard" class="column navIcon is-size-3">Dashboard</a>
            </p>
            <p class="level-item has-text-centered">
                <a href="login" class="column navIcon is-size-3">Login</a>
            </p>
        </nav>
    <main class="container container-fluid mt-5"></main>
</header>
    {{{body}}}
</body>
