<header class="level-item has-text-centered">
    <p class="box pageHeaders has-text-weight-bold is-size-1 my-4 py-3">Your Dashboard</p>
</header>

<!-- {{> dashboard-posts}} -->

<footer class="level-item has-text-centered">
    <button class="button is-large is-responsive addPost has-text-weight-bold is-size-2">+ New Post</button>
</footer>