<header class="level-item has-text-centered">
    <p class="box pageHeaders has-text-weight-bold is-size-1 my-4 py-3">The Tech Blog</p>
</header>

<form action="" class="create box signup-form">
<div class="loginHeader is-size-3 is-bold mb-4">Login</div>
<div class="field">
    <label for="" class="label">Username</label>
    <div class="control has-icons-left">
    <input type="text" placeholder="Username" class="input" id="username-signup" required>
    <span class="icon is-small is-left">
        <i class="fa fa-envelope"></i>
    </span>
    </div>
</div>
<div class="field">
    <label for="" class="label">Password</label>
    <div class="control has-icons-left">
    <input type="password" placeholder="Password" class="input" id="password-signup" required>
    <span class="icon is-small is-left">
        <i class="fa fa-lock"></i>
    </span>
    </div>
</div>
<div class="field signUpButton has-text-centered">
    <p class="container level-item has-text-centered">
        <a href="signUp" class="column is-size-5">Sign up instead</a>
    </p>
    <button class="button createButton is-primary is-size-4" type="submit">
        Login!
    </button>
</div>
</form>